streamlit==1.19.0
numpy==1.21.4
opencv-python-headless==4.3.0.38
Pillow==9.4.0
mmdet
mmocr
paddleocr
paddlepaddle
mycolorpy
plotly
plotly-express
mmcv-full --no-binary mmcv-full
ultralytics==8.0.163
